*{ margin: 0px; padding: 0px; 
font-family: 微软雅黑;}
#top{
	position:relative;
	background-color:#333333;
	width: 100%;
	height: 60 px;
	display:relative;	
}
#top img{
	position:absolute;
	magrin-top: 5px;
	margin-left: 10px;
	heigh: 40px;
	display:block;
}
#list{
	position:absolute;
	right: 0px;
	line-height:10px;
}
#list li{
	float:left;
	height: 50px;
	width: 90px;
	display:block;
}

